@charset "utf8";
@import url('reset.css');

.pass_reset {
    margin-top: 140px;
    margin-bottom: 300px;
    width: 1200px;
}

.reset_main {
    padding: 70px 100px;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}

.reset_main .user_info {
    text-align: left;
}
.ditto {
    
    display: none;
}