@charset "utf-8";

section{
    /* height: 100vh; */
}
#container{
    display:flex;
    /* display: block; */
    align-items:center;
    justify-content:center;
    /* margin:0 auto; */
    /* max-width:1200px; */
    height:50vh;
    /* height:100vh; */
    /* background:cornsilk; */
}
#container h2{}
