<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.seoulive.board.free.persistence.FreeDAO">

    <sql id="criteria">
        <trim prefix="(" suffix=") AND " prefixOverrides="OR">
            <foreach item='type' collection="typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'C'.toString()">
                            content like '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'W'.toString()">
                            writer like '%'||#{keyword}||'%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

    <select id="getList" resultType="org.zerock.seoulive.board.free.domain.FreeDTO">
        SELECT *
        FROM
            TBL_FREE
        ORDER BY
            SEQ desc
    </select>



    <select id="getListWithPaging"
            resultType="org.zerock.seoulive.board.free.domain.FreeDTO">
        <![CDATA[
          select
            *
          from
              (
              select /*+INDEX_DESC(tbl_board) */
                rownum rn, seq, writer, category, title, content, write_date, modify_date, total_count
              from
                tbl_free
              where
        ]]>
        <trim prefix="(" suffix=") AND " prefixOverrides="OR">
            <foreach item='type' collection="typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'C'.toString()">
                            content like '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'W'.toString()">
                            writer like '%'||#{keyword}||'%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>

        <![CDATA[
      rownum <= #{pageNum} * #{amount}
      )
  where rn > (#{pageNum} -1) * #{amount}
  ]]>
    </select>

    <select id="getTotalCount" resultType="int">
        select count(*) from tbl_free where

        <include refid="criteria"></include>

        seq > 0

    </select>


    <insert id="freeInsert" parameterType="org.zerock.seoulive.board.free.domain.FreeDTO">
        INSERT INTO TBL_FREE(seq,writer,category,title,content,write_date,modify_date)
        VALUES (seq_tbl_free.nextval,#{writer},#{category},#{title},#{content},sysdate,null)
    </insert>

    <select id="read" resultType="org.zerock.seoulive.board.free.domain.FreeDTO">
        SELECT *
        FROM TBL_FREE
        WHERE seq=#{seq}
    </select>

    <update id="update" parameterType="org.zerock.seoulive.board.free.domain.FreeDTO">
        UPDATE TBL_FREE set writer=#{writer},category=#{category},title=#{title},content=#{content},modify_date=SYSDATE
        where seq=#{seq}
    </update>


    <update id="total_count" >
        UPDATE TBL_FREE set total_count=total_count+1 where seq=#{seq}
    </update>


    <delete id="delete">
        delete from TBL_FREE where seq=#{seq}
    </delete>







</mapper>